.projects-main-container {
  min-height: 100vh;
  background-color: #191a1d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.projects-heading {
  font-family: 'Roboto';
  color: #9aa5b1;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .projects-heading {
    font-size: 36px;
  }
}

.projects-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.app-container {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.select-container {
  width: 180px;
  padding: 12px 10px 12px 10px;
  color: #475569;
  font-family: 'Roboto';
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .select-container {
    width: 350px;
  }
}

.loader-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  width: 50%;
}

.failure-heading {
  font-size: 28px;
  font-family: 'Roboto';
  color: #475569;
  text-align: center;
}

.failure-text {
  font-size: 18px;
  font-family: 'Roboto';
  color: #475569;
  text-align: center;
  margin-bottom: 4px;
}

.retry-button {
  background-color: #328af2;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 24px 10px 24px;
}

.pagination {
  display: flex;
  justify-content: center;
}
